<div class="container">
  <h1>This is me view, matey!</h1>
  <form action="answer">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Question for your coach</label>
      <input type="text" name="question" class="form-control" id="question" aria-describedby="">
      <div id="emailHelp" class="form-text">There is no such thing as a stupid question.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>